.AboutUsComponent {
    margin-top: -90px;
    /* margin-bottom: -90px; */
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1495929427389-a6451f2e01fa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c8b7d8a92816d5de6ca9ffd12122118c&auto=format&fit=crop&w=1950&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 105vh;
    flex-direction: column;
}

h3 {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.23);
}

h4 {
    text-align: center;
}

.us{
    margin-top: 100px;
    
}

.card{
    width: 90% !important;
}

a{
    color: #951D14
}


